* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container-chbx {
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* hide default checkbox */
.container-chbx input  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-chbx {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid #531CB3;
    border-radius: 25%;
}

.container-chbx:hover input ~ .checkmark-chbx {
    background-color: #eee;
}

.container-chbx input:checked ~ .checkmark-chbx {
    background-color: #531CB3;
}

.checkmark-chbx:after {
    content: "";
    position: absolute;
    display: none;
}

.container-chbx input:checked ~ .checkmark-chbx:after {
    display: block;
}

.container-chbx .checkmark-chbx:after {
    left: 4.5px;
    top: 1.5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
