.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--on-background);
}

.name-group {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

/* .form-line {
  margin-bottom: 20px;
} */

.text-field {
  margin-bottom: 20px;
}

.error-text {
  font-size: 9pt;
  color: var(--error);
  margin-top: 8px;
  margin-left: 11px;
  /* to match the text field's padding + border width */
}

.login-link-line {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.login-link-line>p,
a {
  font-size: 12pt;
}

.login-text {
  color: var(--on-background);
}

.button-line {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 3% 5%;
  background-color: var(--background);
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 3%;
  padding: 5% 10%;
  border-radius: 30px;
  background-color: var(--surface);
}
