
* {
    font-family: 'Poppins', sans-serif;
}

.textarea-group {
    position: relative;
    margin: 20px 0;
}

.textarea-group label {
    position: absolute;
    top: 10%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--on-background);
    padding: 0 5px;
    pointer-events: none;

}

.textarea-group textarea {
    width: 400px;
    height: 200px;
    font-size: 16px;
    color: var(--on-background);
    padding: 10px 10px;
    background: transparent;
    border: 1.5px solid var(--on-background);
    outline: none;
    border-radius: 15px;
    resize: none;
}

.textarea-group textarea::placeholder {
    color: var(--placeholder);
}

.textarea-group textarea:focus~label,
.textarea-group textarea:valid~label {
    top: 0;
    font-size: 12px;
    background: var(--surface);
    transition: 0.5s ease;
}

.textarea-group textarea:focus,
.input-grtoup textarea:valid {
    border: 1.5px solid var(--primary);
    transition: 0.5s ease;
}