* {
  font-family: 'Poppins', sans-serif;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: end;
}

.input-group input {
  min-width: 150px;
  width: 80%;
  height: 40px;
  font-size: 12pt;
  color: var(--on-background);
  padding: 3px 10px;
  background: transparent;
  border-radius: 0px;
  border: 0px solid transparent;
  border-bottom: 1.5px solid var(--primary);
  outline: none;
  transition: width 300ms ease;
}

.input-group input:focus {
  width: 100%;
  border-width: 2px;
  transition: width 300ms ease;
}

.grow-on-focus input {
  width: 100%;
}
