.button {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12pt;
  background-color: var(--primary);
  color: var(--on-primary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
  color: var(--on-primary-hover);
}