.button {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 12pt;
  background-color: #531CB3;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #FDCA40;
  color: black;
  /* if we just want the color to be a darker purple instead of yellow on hover */
  /* background-color: #3A147E;
  color: #B3B3B3; */
}