.button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #531CB3;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #4b18a2;
    color: #e0e0e0;
  }