
* {
    font-family: 'Poppins', sans-serif;
}

.select-group {
    position: relative;
    margin: 0 !important;
    display: inline-block;
}

.select-group label {
    position: absolute;
    top: 10%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--on-background);
    padding: 0 5px;
    pointer-events: none;

}

.select-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: var(--on-background);
    padding: 3px 10px;
    background: transparent;
    border: 1.5px solid var(--on-background);
    outline: none;
    border-radius: 15px;
}

.select-group::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px; 
    transform: translateY(-50%);
    pointer-events: none; 
    background: url('./../../../assets/select-arrow.svg') no-repeat center center;
    background-size: contain;
}

.select-group select:focus~label,
.select-group select:valid~label {
    top: 0;
    font-size: 12px;
    background: var(--surface);
    transition: 0.5s ease;
}

.select-group select:focus,
.input-grtoup select:valid {
    border: 1.5px solid var(--primary);
    transition: 0.5s ease;
}