.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.center-text {
  text-align: center;
  margin-bottom: 30px;
}

.button-line {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.content-container {
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  border-radius: 20px;
  /* margin-top: 10%; */
  padding: 20px;
  background-color: white;
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #5F66E1, #5B2B99);
}