.container-link {
    text-decoration: none;
    color: var(--on-background);
    background:
    linear-gradient(
      to right,
      var(--on-background),
      var(--on-background)
    ),
    linear-gradient(
      to right,
      var(--primary),
      var(--primary-hover)
    );
    background-size: 0 2px, 0 2px;
    background-position: 0 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 600ms;
}

.container-link:hover {
    background-size: 0 2px, 100% 2px;
}

.container-link-no-underline {
  text-decoration: none;
  color: var(--on-background);
}