body {
    height: 0;
}

.login-container {
    background-color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    margin-bottom: 3%;
    border-radius: 30px;
}

.login-form {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 5%;
    border-radius: 20px;
}

#header-main {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: var(--on-surface);
}

#header-secondary {
    font-size: 25;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: var(--on-surface);
}

.text-field {
    margin-bottom: 20px;
}

.login-fields {
    width: 300px;
}

#submit-button {
    margin-top: 10px;
}

#or-header {
    color: var(--on-background);
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

#create-account-link {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

#create-account-link * {
    font-size: 14px;
}

.error-text {
    font-size: 9pt;
    color: var(--error);
    margin-top: 8px;
    margin-left: 11px; /* to match the text field's padding + border width */
}

@media (max-width: 730px) {
    .login-container {
        margin-bottom: 50px;
    }

    .login-form {
        background-color: var(--surface);
    }
}


