.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--on-background);
}

figure.modify-success {
  display: flex;
  align-items: center;
  height: 3.25em;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1.25em;
  border: 2px solid var(--success);
  border-radius: 15px;
  background-color: var(--success-background);
  color: var(--on-background);
}

figure.modify-error {
  display: flex;
  align-items: center;
  height: 3.25em;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1.25em;
  border: 2px solid var(--error);
  border-radius: 15px;
  background-color: var(--error-background);
  color: var(--on-background);
}

.name-group {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.form-line {
  margin-bottom: 1.25em;
}

.error-text {
  font-size: 9pt;
  color: var(--error);
  margin-top: 8px;
  margin-left: 11px;
  /* to match the text field's padding + border width */
}

.reset-line {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.reset-text {
  margin-right: 1em;
  color: var(--on-background);
}

.button-line {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-container {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 3% 5%;
  background-color: var(--background);
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 3%;
  padding: 5% 10%;
  border-radius: 30px;
  background-color: var(--surface);
}
